In [21]:
# Load libraries
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from collections import Counter
!pip install graphviz
!pip install pydotplus
import graphviz
from sklearn.tree import export_graphviz
from six import StringIO 
from IPython.display import Image  
import pydotplus
from sklearn.metrics import mean_squared_error

Requirement already satisfied: graphviz in c:\users\afedgo\anaconda3\lib\site-packages (0.16)
Requirement already satisfied: pydotplus in c:\users\afedgo\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\afedgo\anaconda3\lib\site-packages (from pydotplus) (2.4.7)

Read in PGA data

In [2]:
df=pd.read_csv("ASA All PGA Raw Data - Tourn Level.csv.txt")
df.to_csv("Input.csv")
df.shape

(31822, 32)

In [3]:
df.head()

,player,tournament id,Player_initial_last,player id,DK_Hole_FP,DK_Streak_Bonus_FP,FD_Hole_FP,FD_Streak_Bonus_FP,tournament name,season,...,date,Finish,Score,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total,place
0,Aaron Baddeley,2232,A. Baddeley,16,70.0,6,66.2,21.1,Waste Management Phoenix Open,2015,...,2015-02-01,T17,-8,1.73,0.10,0.32,-0.62,-0.20,1.53,17
1,Aaron Baddeley,2233,A. Baddeley,16,67.0,0,64.1,20.8,AT&T Pebble Beach Pro-Am,2015,...,2015-02-15,T54,-7,1.82,0.58,-2.26,-0.51,-2.19,-0.37,54
2,Aaron Baddeley,2234,A. Baddeley,16,27.0,0,20.9,10.6,Farmers Insurance Open,2015,...,2015-02-08,CUT,3,-0.35,-0.62,-1.95,0.57,-1.99,-2.34,-
3,Aaron Baddeley,2236,A. Baddeley,16,27.0,0,18.5,5.6,Northern Trust Open,2015,...,2015-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
4,Aaron Baddeley,2240,A. Baddeley,16,23.5,0,14.5,10.0,The Players Championship,2015,...,2015-05-10,CUT,11,1.73,-0.46,-5.50,-1.00,-6.96,-5.23,-

In [4]:
df.describe()

,tournament id,player id,DK_Hole_FP,DK_Streak_Bonus_FP,FD_Hole_FP,FD_Streak_Bonus_FP,season,final position,DK_Finish_FP,FD_Finish_FP,...,SD_Hole_FP,SD_Streak_Bonus_FP,SD_Finish_FP,SD_Total_FP,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
count,3.182200e+04,3.182200e+04,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,18893.000000,31822.000000,31822.000000,...,27506.000000,27506.000000,27506.000000,27506.000000,24739.000000,24739.000000,24739.000000,24739.000000,24739.000000,24739.000000
mean,2.081285e+08,4.759772e+04,50.174518,1.753410,44.367805,14.813563,2018.059236,34.052136,2.592703,2.228175,...,49.691667,3.760670,1.155784,54.608122,-0.115953,-0.038497,-0.090158,-0.041671,-0.170263,-0.286216
std,2.004231e+08,4.380794e+05,23.948219,2.826427,24.033120,10.596496,1.955359,27.476205,4.981819,4.934575,...,21.986479,3.935434,2.836946,26.516382,1.124648,0.728643,1.118377,0.809364,1.637508,1.983372
min,2.230000e+03,5.000000e+00,-2.500000,0.000000,-21.400000,0.000000,2015.000000,1.000000,0.000000,0.000000,...,-6.000000,0.000000,0.000000,-6.000000,-5.990000,-6.430000,-9.250000,-7.720000,-10.640000,-13.670000
25%,2.525000e+03,1.097000e+03,27.000000,0.000000,22.600000,5.600000,2016.000000,15.000000,0.000000,0.000000,...,28.000000,0.000000,0.000000,29.000000,-0.770000,-0.450000,-0.730000,-0.450000,-1.070000,-1.360000
50%,4.010252e+08,3.688000e+03,54.000000,0.000000,46.200000,14.200000,2018.000000,32.000000,0.000000,0.000000,...,55.000000,3.000000,0.000000,58.000000,-0.030000,0.000000,0.010000,0.050000,0.000000,-0.150000
75%,4.011482e+08,6.001000e+03,69.000000,3.000000,63.800000,20.800000,2020.000000,51.000000,3.000000,2.000000,...,69.000000,6.000000,0.000000,76.000000,0.630000,0.420000,0.650000,0.490000,0.930000,1.080000
max,4.012434e+08,4.723205e+06,174.000000,23.000000,134.700000,87.800000,2021.000000,999.000000,30.000000,30.000000,...,104.000000,25.000000,15.000000,139.000000,4.430000,3.170000,4.670000,2.770000,6.300000,8.520000

Split dataset in features and target variable

In [58]:
#Create binary variable for whether or not someone placed in top 10
df['Place_Binary'] =np.where(df['final position']<=10,1,0)

#create dataframe for only needed variable and drop any missing
feature_cols = ['sg_putt','sg_arg','sg_app','sg_ott','sg_t2g','sg_total']
trunc=df[feature_cols + ['Place_Binary']].dropna()

X = trunc[feature_cols] # Features
y=trunc['Place_Binary']
counts=Counter(y)
counts

Counter({0: 22276, 1: 2463})

split into test and train

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

Build Decision Tree Model

In [55]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(max_depth=5)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)


# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.958636486122339

Visualize Decision Tree

In [57]:
dot_data = export_graphviz(clf, out_file=None, 
                                feature_names=feature_cols,  
                                filled=True,
                                class_names=['0','1'])

# Draw graph
graph = graphviz.Source(dot_data, format="png") 
graph
graph.render("decision_tree_graphivz")

'decision_tree_graphivz.png'